/* light == 300 , regular == 400 , semibold == 600 , bold == 700 */

/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url("../libs/fonts/Open_sans and Raleway(transfonter.org-20231204-124214)/woff2/OpenSans-Light.woff2");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url("../libs/fonts/Open_sans and Raleway(transfonter.org-20231204-124214)/woff2/OpenSans-Regular.woff2");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url("../libs/fonts/Open_sans and Raleway(transfonter.org-20231204-124214)/woff2/OpenSans-SemiBold.woff2");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url("../libs/fonts/Open_sans and Raleway(transfonter.org-20231204-124214)/woff2/OpenSans-Bold.woff2");
}

/* Raleway */

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: url("../libs/fonts/Open_sans and Raleway(transfonter.org-20231204-124214)/woff2/Raleway-Light.woff2");
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url("../libs/fonts/Open_sans and Raleway(transfonter.org-20231204-124214)/woff2/Raleway-Regular.woff2");
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url("../libs/fonts/Open_sans and Raleway(transfonter.org-20231204-124214)/woff2/Raleway-Bold.woff2");
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  width: 95%;
  margin: auto;
}

/*header starts*/

header {
  width: 100%;
  min-height: 816px;
  background: #000;
  overflow: hidden;
}

header nav {
  width: 100%;
  min-height: 70px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

header nav .navbar-logo {
  width: 80px;
  height: 27px;
}

header nav ul {
  width: 441px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header nav ul a {
  color: #b0b0b0;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Open Sans';
}

header nav .img-none {
  display: none;
}

header .bg-img-header {
  width: 100%;
  height: 641px;
  background: url("../img/bg_header.png") no-repeat center;
  background-size: cover;
}

header .bg-img-header .df-1-header {
  width: 100%;
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .bg-img-header .df-1-header .letter-header {
  min-height: 395px;
  max-width: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .bg-img-header .df-1-header .letter-header .logo-header-png {
  max-width: 175px;
  min-height: 60px;
}

header .bg-img-header .df-1-header .letter-header .h1-1-header {
  font-weight: 400;
  font-size: 36px;
  font-family: 'Raleway';
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 50px;
  position: relative;
}

header .bg-img-header .df-1-header .letter-header .h1-1-header::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 2px;
  left: 0;
  top: 125px;
  background: currentColor;
}

header .bg-img-header .df-1-header .letter-header .p-2-header {
  max-width: 465px;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Raleway';
  color: #a6a6a8;
  line-height: 23px;
  padding-bottom: 35px;
}

header .bg-img-header .df-1-header .letter-header .btn-header {
  width: 135px;
  height: 42px;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Open Sans';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

header .bg-img-header .df-1-header .registration-header {
  width: 360px;
  height: 362px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 30px;
}

header .bg-img-header .df-1-header .registration-header .label-1-header {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Open Sans';
  color: #333333;
  text-align: center;
  padding: 15px 0;
  background: #f5f5f5;
}

header .bg-img-header .df-1-header .registration-header .span-1-header {
  color: #ff8b38;
}

header .bg-img-header .df-1-header .registration-header .form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .bg-img-header .df-1-header .registration-header .form-header .input-header {
  width: 290px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  color: #bdbdbd;
  padding: 10px 14px;
  margin-top: 36px;
}

header .bg-img-header .df-1-header .registration-header .form-header .input-header:focus {
  outline: none;
}

header .bg-img-header .df-1-header .registration-header .form-header .btn-2-header {
  width: 360px;
  height: 54px;
  background: #ff9b51;
  color: #ffffff;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

header .icons-header {
  width: 100%;
  min-height: 105px;
  background-color: #ffffff;
}

header .icons-header .header-icons-between {
  width: 100%;
  min-height: 105px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .icons-header .header-icons-between .social-media-header {
  max-width: 361px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header .icons-header .header-icons-between .social-media-header .h2-1-header {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Open Sans';
  color: #333333;
  text-align: left;
}

header .icons-header .header-icons-between .social-media-header .p-1-header {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #86878b;
  max-width: 361px;
}

header .icons-header .header-icons-between .icons {
  width: 634px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .icons-header .header-icons-between .icons .heaader-icons-img {
  height: 42px;
}

/*header ends*/

/*sectio starts*/

/*section starts*/

section .section-one {
  width: 100%;
  min-height: 595px;
  border-top: 2px solid #b7b7b7;
  background: #f5f5f5;
}

section .section-one .tabs-and-letters {
  width: 100%;
  margin-top: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

section .section-one .tabs-and-letters .tabs {
  width: 110px;
  height: 332px;
  border-radius: 3px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-one .tabs-and-letters .tabs .tabsa {
  width: 110px;
  height: 110px;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Open Sans';
  cursor: pointer;
}

section .section-one .tabs-and-letters .tabs .clicked {
  background: #ff8b38;
}

section .section-one .tabs-and-letters .letters {
  position: absolute;
  opacity: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

section .section-one .tabs-and-letters .letters-active {
  padding-top: 7px;
  max-width: 476px;
  opacity: 1;
  pointer-events: all;
}

section .section-one .tabs-and-letters .letters-active .h2-1-s-o {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Open Sans';
  color: #000000;
  text-align: left;
  padding-bottom: 36px;
}

section .section-one .tabs-and-letters .letters-active .p-1-s-o {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #949598;
  text-align: left;
  padding-bottom: 50px;
}

section .section-one .tabs-and-letters .letters-active .button-s-o {
  width: 120px;
  height: 44px;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Open Sans';
  color: #ffffff;
  background: #ff8b38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

section .section-one .tabs-and-letters .img-s-o {
  display: block;
}

section .section-two {
  width: 100%;
  min-height: 596px;
  background: #ffffff;
}

section .section-two .df-s-t {
  width: 100%;
  margin-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-two .df-s-t .img-1-s-t {
  display: block;
  margin-top: 20px;
}

section .section-two .df-s-t .letters-s-t {
  max-width: 434px;
  min-height: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-two .df-s-t .letters-s-t .subList-s-t {
  width: 100%;
  height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-two .df-s-t .letters-s-t .subList-s-t .h2-1-s-t {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Open Sans';
  color: #212121;
  text-align: left;
  position: relative;
}

section .section-two .df-s-t .letters-s-t .subList-s-t .h2-1-s-t::before {
  position: absolute;
  content: "";
  max-width: 64px;
  background: #ff8b38;
  width: 64px;
  height: 2px;
  top: 46px;
  left: 0;
}

section .section-two .df-s-t .letters-s-t .subList-s-t .p-1-s-t {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #8e8f92;
  text-align: left;
  line-height: 20px;
}

section .section-two .df-s-t .letters-s-t .cloud-s-t {
  max-width: 431px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-two .df-s-t .letters-s-t .cloud-s-t .round-s-t {
  width: 40px;
  height: 40px;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

section .section-two .df-s-t .letters-s-t .cloud-s-t .title-s-t {
  max-width: 361px;
  min-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section .section-two .df-s-t .letters-s-t .cloud-s-t .title-s-t .h3-1-s-t {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  font-family: 'Open Sans';
  color: #212121;
}

section .section-two .df-s-t .letters-s-t .cloud-s-t .title-s-t .p-2-s-t {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  font-family: 'Open Sans';
  color: #86878b;
}

section .section-three {
  width: 100%;
  min-height: 524px;
  background: #f5f5f5;
}

section .section-three .df-s-th {
  width: 100%;
  padding-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-three .df-s-th .letters-s-th {
  max-width: 474px;
  height: 208px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-three .df-s-th .letters-s-th .h2-1-s-th {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Open Sans';
  text-align: left;
  color: #212121;
  position: relative;
}

section .section-three .df-s-th .letters-s-th .h2-1-s-th::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 64px;
  background: #ff8b38;
  left: 0;
  top: 46px;
}

section .section-three .df-s-th .letters-s-th .p-1-s-th {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  text-align: left;
  color: #86878b;
}

section .section-four {
  min-height: 592px;
  width: 100%;
  background: #ffffff;
}

section .section-four .dfc-s-f {
  padding-top: 100px;
}

section .section-four .dfc-s-f .first-s-f {
  min-height: 102px;
  max-width: 410px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-four .dfc-s-f .first-s-f .h1-1-s-f {
  font-weight: 400;
  font-size: 36px;
  font-family: 'Raleway';
  color: #212121;
  text-align: center;
  position: relative;
}

section .section-four .dfc-s-f .first-s-f .h1-1-s-f::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 2px;
  background: #ff8b38;
  top: 56px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

section .section-four .dfc-s-f .first-s-f .p-1-s-f {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  text-align: center;
  color: #a4a5a8;
}

section .section-four .dfc-s-f .second-s-f {
  max-width: 100%;
  min-height: 200px;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-four .dfc-s-f .second-s-f .one-main-s-f {
  max-width: 350px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-four .dfc-s-f .second-s-f .one-main-s-f .round-s-f {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ff8b38;
  border-radius: 50%;
  margin: 0 auto;
}

section .section-four .dfc-s-f .second-s-f .one-main-s-f .h3-s-f {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Open Sans';
  color: #333333;
}

section .section-four .dfc-s-f .second-s-f .one-main-s-f .p-2-s-f {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #86878b;
  line-height: 20px;
}

section .section-five {
  width: 100%;
  min-height: 883px;
  background: #f5f5f5;
}

section .section-five .df-s-fv {
  min-height: 680px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section .section-five .df-s-fv .text-1-s-fv {
  height: 102px;
  max-width: 365px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-five .df-s-fv .text-1-s-fv .h1-1-s-fv {
  font-weight: 400;
  font-size: 36px;
  font-family: 'Raleway';
  color: #212121;
  text-align: center;
  position: relative;
}

section .section-five .df-s-fv .text-1-s-fv .h1-1-s-fv::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 2px;
  left: 50%;
  top: 56px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ff8b38;
}

section .section-five .df-s-fv .text-1-s-fv .p-1-s-fv {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #86878b;
  text-align: center;
}

section .section-five .df-s-fv .prices-s-fv {
  width: 100%;
  min-height: 462px;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv {
  min-height: 462px;
  max-width: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 34px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .black-s-fv {
  width: 345px;
  height: 211px;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .black-s-fv .h2-1-s-fv {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Open Sans';
  text-align: center;
  color: #ffffff;
  position: relative;
  padding-top: 10px;
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .black-s-fv .h2-1-s-fv::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #ffffff;
  top: 41px;
  left: -50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .black-s-fv .h1-2-s-fv {
  font-weight: 700;
  font-size: 35px;
  font-family: 'Raleway';
  color: #ffffff;
  text-align: center;
  padding-top: 15px;
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .black-s-fv .span-1-s-fv {
  font-size: 94px;
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .black-s-fv .p-2-s-fv {
  font-weight: 600;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #8d8d8d;
  text-align: center;
  padding-top: 15px;
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .orange {
  width: 100%;
  background: #ff8b38;
  height: 5px;
  position: relative;
  -webkit-transition: 500ms;
  transition: 500ms;
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .orange .h3-1-s-fv {
  position: absolute;
  opacity: 0;
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .orange .active-s-fv {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Open Sans';
  color: #ffffff;
  text-align: center;
  opacity: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .orange-active-s-fv {
  height: 39px;
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .white {
  width: 100%;
  height: 246px;
}

section .section-five .df-s-fv .prices-s-fv .options-s-fv .white .p-3-s-fv {
  height: 42px;
  width: 100%;
  margin-top: 1px;
  background: #ffffff;
  color: #86878b;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

section .section-five .df-s-fv .prices-s-fv .options-active-s-fv {
  margin-top: 0;
}

section .section-six {
  width: 100%;
  min-height: 491px;
  background: #ffffff;
  padding-top: 100px;
}

section .section-six .text-s-s {
  max-width: 645px;
  min-height: 102px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-six .text-s-s .h1-1-s-s {
  font-weight: 400;
  font-size: 36px;
  font-family: 'Raleway';
  color: #212121;
  position: relative;
}

section .section-six .text-s-s .h1-1-s-s::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 2px;
  top: 58px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ff8b38;
}

section .section-six .text-s-s .p-1-s-s {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #86878b;
  text-align: center;
}

section .section-six .clients-s-s {
  width: 100%;
  min-height: 225px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-six .clients-s-s .comments-and-accounts {
  width: 273px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section .section-six .clients-s-s .comments-and-accounts .comments {
  width: 273px;
  height: 132px;
  padding: 25px 12px;
  background: #f5f5f5;
  border-radius: 2px;
  position: relative;
}

section .section-six .clients-s-s .comments-and-accounts .comments .p-2-s-s {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #86878b;
}

section .section-six .clients-s-s .comments-and-accounts .comments::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #f5f5f5;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 28px;
  bottom: -8px;
}

section .section-six .clients-s-s .comments-and-accounts .account-s-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .section-six .clients-s-s .comments-and-accounts .account-s-s .photo-s-s {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

section .section-six .clients-s-s .comments-and-accounts .account-s-s .link-s-s {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section .section-six .clients-s-s .comments-and-accounts .account-s-s .link-s-s .a-2-s-s {
  color: #333333;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Open Sans';
}

section .section-six .clients-s-s .comments-and-accounts .account-s-s .link-s-s .a-3-s-s {
  color: #a4a5a8;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}

section .section-seven {
  width: 100%;
  min-height: 320px;
  background: url("../img/last_section_bg.png") no-repeat center;
  background-size: cover;
}

section .section-seven .main-s-sv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 70px;
}

section .section-seven .main-s-sv .h1-1-s-sv {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  font-family: 'Raleway';
  color: #ffffff;
  position: relative;
}

section .section-seven .main-s-sv .h1-1-s-sv::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 2px;
  top: 56px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ffffff;
}

section .section-seven .main-s-sv .p-1-s-sv {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Raleway';
  color: #b6b4af;
  padding-top: 45px;
}

section .section-seven .main-s-sv .btn-s-sv {
  width: 135px;
  height: 42px;
  border: 2px solid #f5f5f5;
  background: transparent;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Open Sans';
  color: #ffffff;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*section ends*/

/*section ends*/

/*footer starts*/

footer {
  width: 100%;
  min-height: 695px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .personal-informations-footer {
  width: 100%;
  min-height: 612px;
}

footer .personal-informations-footer .h1-1-footer {
  font-weight: 400;
  font-size: 36px;
  font-family: 'Raleway';
  color: #212121;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

footer .personal-informations-footer .h1-1-footer::before {
  position: absolute;
  content: "";
  width: 64px;
  height: 2px;
  background: #ff8b38;
  top: 156px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

footer .personal-informations-footer .p-1-footer {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #86878b;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
}

footer .personal-informations-footer .form-footer {
  width: 100%;
}

footer .personal-informations-footer .form-footer .infos-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 44px;
}

footer .personal-informations-footer .form-footer .infos-footer .name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .personal-informations-footer .form-footer .infos-footer .name .ordinary-inp-footer {
  width: 530px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  padding: 10px 12px;
  margin-top: 30px;
}

footer .personal-informations-footer .form-footer .infos-footer .name .ordinary-inp-footer:focus {
  outline: none;
  color: #662f2f;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}

footer .personal-informations-footer .form-footer .infos-footer .name .ordinary-inp-footer::-webkit-input-placeholder {
  color: #d6d6d6;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}

footer .personal-informations-footer .form-footer .infos-footer .name .ordinary-inp-footer::-moz-placeholder {
  color: #d6d6d6;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}

footer .personal-informations-footer .form-footer .infos-footer .name .ordinary-inp-footer:-ms-input-placeholder {
  color: #d6d6d6;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}

footer .personal-informations-footer .form-footer .infos-footer .name .ordinary-inp-footer::-ms-input-placeholder {
  color: #d6d6d6;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}

footer .personal-informations-footer .form-footer .infos-footer .name .ordinary-inp-footer::placeholder {
  color: #d6d6d6;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}

footer .personal-informations-footer .form-footer .infos-footer .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

footer .personal-informations-footer .form-footer .infos-footer .message .message-inp {
  width: 530px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  margin-top: 30px;
  padding-left: 12px;
  position: relative;
}

footer .personal-informations-footer .form-footer .infos-footer .message .message-inp:focus {
  outline: none;
  color: #662f2f;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
}

footer .personal-informations-footer .form-footer .infos-footer .message .message-inp::-webkit-input-placeholder {
  color: #d6d6d6;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  position: absolute;
  top: 10px;
  left: 12px;
}

footer .personal-informations-footer .form-footer .infos-footer .message .message-inp::-moz-placeholder {
  color: #d6d6d6;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  position: absolute;
  top: 10px;
  left: 12px;
}

footer .personal-informations-footer .form-footer .infos-footer .message .message-inp:-ms-input-placeholder {
  color: #d6d6d6;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  position: absolute;
  top: 10px;
  left: 12px;
}

footer .personal-informations-footer .form-footer .infos-footer .message .message-inp::-ms-input-placeholder {
  color: #d6d6d6;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  position: absolute;
  top: 10px;
  left: 12px;
}

footer .personal-informations-footer .form-footer .infos-footer .message .message-inp::placeholder {
  color: #d6d6d6;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  position: absolute;
  top: 10px;
  left: 12px;
}

footer .personal-informations-footer .form-footer .btn-footer {
  width: 146px;
  height: 44px;
  margin: 0 auto;
  background: #ff9b51;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

footer .bg-footer {
  width: 100%;
  height: auto;
  background: #000000;
}

footer .bg-footer .last-footer {
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .bg-footer .last-footer .social-media-footer {
  height: auto;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .bg-footer .last-footer .social-media-footer .img-footer {
  width: 20px;
  height: 20px;
}

footer .bg-footer .last-footer .p-last-footer {
  display: block;
  padding-top: 12px;
  color: #404040;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Open Sans';
}

/*footer ends*/

@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  header nav {
    width: 100%;
    margin: auto;
  }

  section .section-one .tabs-and-letters .letters {
    left: 45%;
  }

  section .section-one .tabs-and-letters .letters-active {
    width: 400px;
  }

  section .section-five .df-s-fv .prices-s-fv .options-s-fv {
    max-width: 300px;
  }

  section .section-five .df-s-fv .prices-s-fv .options-s-fv .black-s-fv {
    max-width: 300px;
  }
}

@media (max-width: 1140px) {
  footer {
    min-height: 900px;
  }

  footer .personal-informations-footer .form-footer .infos-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  footer .personal-informations-footer .form-footer .infos-footer .name {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  footer .personal-informations-footer .form-footer .infos-footer .message {
    margin: 20px auto;
    height: 142px;
  }
}

@media (max-width: 1010px) {
  header .icons-header .header-icons-between .icons {
    width: 534px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }

  header .bg-img-header {
    min-height: 900px;
  }

  header .bg-img-header .df-1-header {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  header .bg-img-header .df-1-header .letter-header {
    margin: 0 auto;
  }

  header .bg-img-header .df-1-header .letter-header .logo-header-png {
    display: block;
    margin: 0 auto;
  }

  header .bg-img-header .df-1-header .letter-header .h1-1-header {
    text-align: center;
  }

  header .bg-img-header .df-1-header .letter-header .h1-1-header::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  header .bg-img-header .df-1-header .letter-header .p-2-header {
    text-align: center;
  }

  header .bg-img-header .df-1-header .letter-header .btn-header {
    margin: 0 auto;
  }

  header .bg-img-header .df-1-header .registration-header {
    margin: 0 auto;
  }

  section .section-one .tabs-and-letters {
    margin: 20px;
    min-height: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  section .section-one .tabs-and-letters .tabs {
    width: 332px;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  section .section-one .tabs-and-letters .letters {
    top: 20%;
    left: 50%;
  }

  section .section-one .tabs-and-letters .letters-active .h2-1-s-o {
    text-align: center;
  }

  section .section-one .tabs-and-letters .letters-active .p-1-s-o {
    text-align: center;
  }

  section .section-one .tabs-and-letters .letters-active .button-s-o {
    margin: auto;
  }

  section .section-one .tabs-and-letters .img-s-o {
    width: 320px;
  }

  section .section-two .df-s-t {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
  }

  section .section-two .df-s-t .img-1-s-t {
    width: 100%;
    margin: auto;
  }

  section .section-two .df-s-t .letters-s-t {
    margin: auto;
  }

  section .section-three .df-s-th {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  section .section-three .df-s-th .letters-s-th {
    margin: auto;
  }

  section .section-three .df-s-th .img-1-s-th {
    width: 100%;
  }

  section .section-five {
    min-height: 1200px;
  }

  section .section-five .df-s-fv {
    padding-top: 20px;
  }

  section .section-five .df-s-fv .prices-s-fv {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  section .section-five .df-s-fv .prices-s-fv .options-s-fv {
    max-width: 345px;
    margin-top: 30px;
  }

  section .section-five .df-s-fv .prices-s-fv .options-s-fv .black-s-fv {
    max-width: 345px;
  }

  section .section-six .clients-s-s {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  section .section-six .clients-s-s .comments-and-accounts {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  header .icons-header .header-icons-between {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  header .icons-header .header-icons-between .social-media-header .h2-1-header {
    text-align: center;
  }

  header .icons-header .header-icons-between .social-media-header .p-1-header {
    text-align: center;
  }

  header .icons-header .header-icons-between .icons {
    margin-top: 20px;
  }

  section .section-four .dfc-s-f .second-s-f {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
  }

  section .section-four .dfc-s-f .second-s-f .one-main-s-f {
    margin-top: 20px;
  }

  section .section-five {
    min-height: 1700px;
  }

  section .section-five .df-s-fv .prices-s-fv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 673px) {
  section .section-six .text-s-s .h1-1-s-s {
    text-align: center;
  }

  section .section-six .text-s-s .h1-1-s-s::before {
    top: 90px;
  }

  section .section-six .text-s-s .p-1-s-s {
    padding-top: 30px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }

  header {
    height: auto;
  }

  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 300px;
    right: -320px;
    top: 70px;
    -webkit-transition: 1000ms;
    transition: 1000ms;
    z-index: 1;
  }

  header nav ul a {
    display: block;
    margin-top: 10px;
    padding: 0 0 0 20px;
    font-size: 40px;
    font-weight: 600;
    border: 1px solid whitesmoke;
    background: #000;
  }

  header nav ul a:hover {
    background: #671eaa;
  }

  header nav .img-none {
    display: block;
    width: 40px;
    height: 40px;
  }

  header .toggle-nav {
    right: -90px;
  }

  header .bg-img-header .df-1-header .registration-header {
    max-width: 360px;
    width: 100%;
  }

  header .bg-img-header .df-1-header .registration-header .form-header .input-header {
    max-width: 290px;
    width: 100%;
  }

  header .bg-img-header .df-1-header .registration-header .form-header .btn-2-header {
    max-width: 360px;
    width: 100%;
  }

  header .icons-header .header-icons-between .icons {
    width: 100%;
  }

  section .section-one .tabs-and-letters {
    margin: 20px auto;
  }

  section .section-one .tabs-and-letters .tabs {
    max-width: 242px;
    height: 80px;
  }

  section .section-one .tabs-and-letters .tabs .tabsa {
    max-width: 80px;
    max-height: 80px;
  }

  section .section-one .tabs-and-letters .letters {
    top: 10%;
    left: 50%;
  }

  section .section-one .tabs-and-letters .letters-active {
    width: 310px;
  }

  section .section-two .df-s-t .letters-s-t .subList-s-t .h2-1-s-t {
    text-align: center;
  }

  section .section-two .df-s-t .letters-s-t .subList-s-t .h2-1-s-t::before {
    top: 36px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  section .section-two .df-s-t .letters-s-t .subList-s-t .p-1-s-t {
    text-align: center;
  }

  section .section-two .df-s-t .letters-s-t .cloud-s-t {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  section .section-two .df-s-t .letters-s-t .cloud-s-t .title-s-t {
    margin-top: 10px;
  }

  section .section-two .df-s-t .letters-s-t .cloud-s-t .title-s-t .h3-1-s-t {
    text-align: center;
  }

  section .section-two .df-s-t .letters-s-t .cloud-s-t .title-s-t .p-2-s-t {
    text-align: center;
  }

  section .section-three .df-s-th .letters-s-th .h2-1-s-th {
    text-align: center;
  }

  section .section-three .df-s-th .letters-s-th .h2-1-s-th::before {
    top: 36px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  section .section-three .df-s-th .letters-s-th .p-1-s-th {
    margin-top: 20px;
    text-align: center;
  }

  section .section-five .df-s-fv .prices-s-fv .options-s-fv {
    width: 100%;
  }

  section .section-five .df-s-fv .prices-s-fv .options-s-fv .black-s-fv {
    width: 100%;
  }

  footer .personal-informations-footer .form-footer .infos-footer {
    width: 100%;
  }

  footer .personal-informations-footer .form-footer .infos-footer .name .ordinary-inp-footer {
    width: 100%;
  }

  footer .personal-informations-footer .form-footer .infos-footer .message {
    width: 100%;
  }

  footer .personal-informations-footer .form-footer .infos-footer .message .message-inp {
    width: 100%;
  }

  footer .bg-footer .last-footer .social-media-footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 542px) {
  header .bg-img-header .df-1-header .letter-header .h1-1-header::before {
    top: 150px;
  }
}

@media (max-width: 458px) {
  header .bg-img-header .df-1-header .letter-header .h1-1-header::before {
    top: 195px;
  }
}

@media (max-width: 446px) {
  section .section-six .text-s-s .h1-1-s-s::before {
    top: 140px;
  }

  section .section-six .text-s-s .p-1-s-s {
    padding-top: 40px;
  }
}

@media (max-width: 436px) {
  section .section-seven .main-s-sv .h1-1-s-sv::before {
    top: 100px;
  }
}

@media (max-width: 427px) {
  section .section-four .dfc-s-f .first-s-f {
    min-height: 150px;
  }

  section .section-four .dfc-s-f .first-s-f .h1-1-s-f::before {
    top: 100px;
  }
}

@media (max-width: 420px) {
  header .icons-header .header-icons-between .icons {
    width: 100%;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  header .icons-header .header-icons-between .icons .heaader-icons-img {
    display: block;
    margin: 10px 20px;
  }
}

@media (max-width: 324px) {
  section .section-five .df-s-fv .text-1-s-fv .h1-1-s-fv::before {
    top: 90px;
  }

  section .section-five .df-s-fv .text-1-s-fv .p-1-s-fv {
    margin-top: 20px;
  }
}